<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Tennis scoreboard</title>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/fd9c503804.js"></script>
    <link href="/css/matches.css" rel="stylesheet">

</head>
<body>
<header>
    <h1><a href="/"><i class="fa-solid fa-house"></i></a></h1>
    <h1>All matches</h1>
</header>
<main>
    <div class="bg-image"></div>

    <form method="get" th:action="${'/matches'}">
        <input name="filter_by_player_name" placeholder="Player name"
               th:placeholder="${(filter_by_player_name.isEmpty())?'Player name':filter_by_player_name}"
               th:value="${(filter_by_player_name.isEmpty())?'':filter_by_player_name}"
               type="search">
        <button type="submit" value=""><i class="fas fa-search"></i></button>
        <button type="button"><a th:href="@{'/matches'}" th:method="${'get'}"><i class="fa-solid fa-xmark"></i></a>
        </button>
    </form>


    <table>
        <tr>
            <th>Match</th>
            <th>Player 1</th>
            <th>Player 2</th>
        </tr>
        <tr th:each="match : ${matches}">
            <td th:text="${match.id}">1</td>
            <td><i th:class="${(match.player1.equals(match.winner))?'fa-solid fa-trophy':''}"
                   th:text="${match.player1.name}"></i></td>
            <td><i th:class="${(match.player2.equals(match.winner))?'fa-solid fa-trophy':''}"
                   th:text="${match.player2.name}"></i></td>
        </tr>

    </table>
    <p class="error" th:text="${error}">Invalid player name</p>
    <div class="pages">
        <ul>
            <li th:each="i : ${#numbers.sequence(1, numberOfPages)}">
                <a th:href="@{/matches(page=${i}, filter_by_player_name = ${(filter_by_player_name.isEmpty())?'':filter_by_player_name})}"
                   th:text="${i}"></a>
            </li>
        </ul>
    </div>

</main>
</body>
</html>