<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tennis scoreboard</title>
    <script src="https://kit.fontawesome.com/fd9c503804.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/match-score.css">

</head>
<body>
    <header>
        <h1><a href = "/">Home</a></h1>
        <h1 th:text = "${'Match '+matchScore.uuid}">Match 230402934092</h1>
    </header>
<main>
    <div class="bg-image"></div>
    <div class = "scoreboard">
        <div class = "scores">
            <div class = "player-info">
                <div class = "title">
                     
                </div>
                <div class = "title">
                    Tie breaks
                </div>
                <div class = "title" >
                    Sets
                </div>
                <div class = "title">
                    Games
                </div>
                <div class = "title">
                    Points
                </div>
                <div class = "title">
                    
                </div>
            </div>
            <div class = "player-info">
                <div class = "cell" th:text="${matchScore.player1.name}">
                    Artem
                </div>
                <div class = "cell" th:text="${matchScore.player1.tieBreaksCounter}">
                    0
                </div>
                <div class = "cell" th:text="${matchScore.player1.setCounter}">
                    0
                </div>
                <div class = "cell" th:text="${matchScore.player1.gameCounter}">
                    0
                </div>
                <div class = "cell" th:text="${matchScore.getFormattedPoints(matchScore.player1.pointCounter)}">
                    0
                </div>
                <div class = "advantage" th:class="'advantage '+${matchScore.player1.isAdvantage()?'active':' '}">
                </div>

            </div>

            <div class = "player-info">
                <div class = "cell" th:text="${matchScore.player2.getName()}">
                    Artem
                </div>
                <div class = "cell" th:text="${matchScore.player2.tieBreaksCounter}">
                    0
                </div>
                <div class = "cell" th:text="${matchScore.player2.setCounter}">
                    0
                </div>
                <div class = "cell" th:text="${matchScore.player2.gameCounter}">
                    0
                </div>
                <div class = "cell" th:text="${matchScore.getFormattedPoints(matchScore.player2.pointCounter)}">
                    0
                </div>
                <div class = "advantage" th:class="'advantage '+${matchScore.player2.isAdvantage()?'active':' '}">
                </div>

            </div>
        </div>

        <form method="post" name="win-buttons" th:action="${'/match-score?uuid='+matchScore.uuid}">
            <button type="submit" name="id" th:value="${matchScore.player1.id}" th:text="${matchScore.player1.name}">Artem</button>
            <button type="submit" name="id" th:value="${matchScore.player2.id}" th:text="${matchScore.player2.name}">Vasya</button>
        </form>
    </div>
</main>
</body>
</html>