*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    overflow: hidden;
    height: 100vh;
}
.bg-image {
    position: absolute;
    width: 100%;
    top:0;
    z-index: -1;
    background: url("../images/tennis.jpg");
    filter: blur(20px);
    height: 100%;
    background-size: cover;
}
header{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.scoreboard{
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    width: 100%;
}
.scores{
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
    width: 80%;
    gap:10px;
}
.player-info{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    gap:10px;
}
.cell{
    display: flex;
    width: 10%;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    height: 10vh;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 20%;
    gap:10px;
    margin-left: -10%;
}
button{
    height: 30px;
    width: 50%;
    background: transparent;
    border-style: groove;
    border-width: 1px;
    border-radius: 1%;
    border-color: black;
    color: black;
}
.title{
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    justify-self: end;
}